
<h2>
  <strong>Nome:</strong>
  <%= @paciente.name %>
  <br />

  <strong>Contato:</strong>
  <%= @paciente.telefone %>
  <br />
  <strong>Data Nascimento:</strong>
  <%= @paciente.data_nascimento %>
  <br />

</h2>
