<h1>Usuarios Cadastrados</h1>
<%= link_to "Novo Usuario", {:action => 'new'} %>
<ul>
<%  @users.each do |user| %>
	<li>
  		<%= link_to user.name, controller: "users", action: "show", id: user %>
    </li>
<% end %>
</ul>